*{
  padding: 0px;
  margin: 0px;
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  letter-spacing: 4px;
  
  
}

/*Animation for the background body*/

@keyframes bg-animation {
  0%{
    background-position: left;
  }
  100%{
    background-position: right;
  }
}

body{
  background: #030226;
  background: linear-gradient(90deg,rgb(5, 10, 41) 0%, rgb(90, 4, 4) 35%, rgb(67, 4, 92) 100%);
  background-size: 400%;
}

/*CSS FOR PRESENTATION*/
.Page{
  width: 100%;
  height: 100vh;
  color: #ffff;
}
.ContainerPresentation{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 10rem;
}

  /*InforSection*/

.SectionInfo{
  width: 20em;
  font-size: 45px;
  text-align: left;
  
}

.SectionInfo h1, .SectionInfo p{
  color: #e374e7;
  background: linear-gradient(45deg, #ff00ea , #7700ff 50%, #ff002b 100%);
  animation: bg-animation 1s infinite alternate; 
  background-size: 400%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 10px 0px;
  
}
  /*InforSection*/

  /*MY PHOTO*/
.MyPhoto{
  width: 30rem;
  height: 30rem;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 25px;
}

.MyPhoto img{
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: 50% 90%;
 
}
  /*MY PHOTO*/

/*CSS FOR PRESENTATION*/

/*Description*/

.ContainerDescription{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  font-size: 25px;
  align-items: center;
  text-align: left;
}

.PartDescription {
  width: 55rem;
}

.PartDescription h1{
  margin-bottom: 30px;
}

.PartDescription p{
  line-height : 1.5; 
}

.knowledge{
  margin-top: 80px;
}
/*Description*/

/*ICONS SECTION*/
.IconsIknow{
  margin-top: 100px;
  width: 90%;
  height: 200px;
  overflow-x: auto;
  display: flex;
  gap: 6em;
}

.IconsIknow::-webkit-scrollbar{
  display: none;
}

.ContainerIcons{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7.5em;
  animation: spin 5s infinite linear;
  padding-right: 1em;
}

.IconsBox{
  flex: 0 0 3em; 
  background-color: #ffffff;
  height: 3em;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.56) 8px 9px 10px 10px;
  color: #7700ff;


}

.IconsBox img{
  object-fit:fill;
  height: 100%;
  width: 100%;
}

/*ANIMATION SECTION*/

@keyframes spin {
  from {translate: 0;}
  to {translate: -109%;}
}

/*ICONS SECTION*/

/*Proyects seccion*/

.ContainerProyects{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.AllProyects{
  width: 55rem;
  flex-direction: column;
  font-size: 25px;
}


.TitlePageProyects h1, .TitlePageProyects p{
  margin-top: 30px;
}

.AllProyects p{
  line-height : 1.5; 
}

.ContainerCardsProyects{
  margin-top: 30px;
  width: 100%;
  height: 40rem;
  display: flex;
  flex-direction: column;
  gap: 30px
}

/*ImageProyect*/

.CardLayout{
  display: flex;
  gap: 15px;
  padding: 20px;
  justify-content: space-between;
  width: auto;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.56) 8px 9px 10px 10px;
}
.ImageProyect{
  width: 400px;
  height: 300px;
  border-radius: 30px;
  overflow: hidden;
  background-color: #13cf32;
}
.ImageProyect img{
  object-fit:fill;
  width: 100%;
  height: 100%;
}

/*ImageProyect*/

/*DescriptionProyect*/

.DescriptionProyectPart{
  width: 30rem;
  height: 18rem;
  overflow: auto;
  align-self: center;
  scrollbar-color:white transparent;
  
}

.DescriptionProyectPart h1, .DescriptionProyectPart p{
  margin-top: 10px;
}

.DescriptionProyectPart h1{
  font-size: 30px;
}

.DescriptionProyectPart p{
  font-size: 20px;
}

.LinkTry{
  margin: 10px;
  background-color: #c75a54;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
.LinkTry:hover{
  background-color: #661813;
}
.Twitch{
  background-color: #c022ff;
}
.Twitch:hover{
  background-color: #5e0283;
}
/*DescriptionProyect*/

/*Animation to the elemnts */

@keyframes apper {
  from{
    opacity: 0;
    size: 0.5;
    transform: translateX(-100px);
  }
  to{
    opacity: 1;
    size: 1;
    transform: translateX(0px);
  }
}
.ToDo{
  animation: apper linear;
  animation-timeline: view();
  animation-range: entry 0 cover 40%;
}
.CToDo{
  animation: apper linear;
  animation-timeline: view();
  animation-range: entry 0 cover 25%;
}
